<label for="currencyFrom-input">Convert From:</label>
<mat-select placeholder="Currency From" [(value)]="convertFrom" name="convertFrom">
  <mat-option *ngFor="let currency of xmlItems" [value]="currency.rate">
    {{currency.currency}}
  </mat-option>
</mat-select>

<label for="currencyTo-input">Convert To:</label>
<mat-select placeholder="Currency To" [(value)]="convertTo" name="convertTo">
  <mat-option *ngFor="let currency of xmlItems" [value]="currency.rate">
    {{currency.currency}}
  </mat-option>
</mat-select>

<input matInput type="number" (blur)="convertAmountFromBlur($event)" #convertAmountFrom [value]="convertAmountFromVal" placeholder="Convert Amount From">
<input matInput type="number" (blur)="convertAmountToBlur($event)" #convertAmountTo [value]="convertAmountToVal" placeholder="Convert Amount To">

<p>{{convertFrom}} => {{convertTo}}</p>
<p>{{convertAmountFromVal}} => {{convertAmountToVal}}</p>
<p>{{convertedAmountFromVal}} => {{convertedAmountToVal}}</p>